<app-navbar></app-navbar>
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3"><img
        src="../assets/netfilm.png"
        height="200px"
        width="500px"
    /></h1>
      <p>Bienvenue sur la nouvelle plateforme NETFILM  </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>
  <app-results></app-results>
</main>
